.about {
  padding-top: 100px;
  padding-bottom: 100px;
}

.about__wrap {
  display: flex;
  justify-content: space-between;
}

.about__info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
  blockquote {
    margin-top: auto;
  }
}

.about__img {
  width: 45%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow: hidden;
  
  img {
    display: block;
    height: 100%;
    width: auto;
    max-width: none;
  }
}
